* {
    font-family: "Avenir Next", monospace;
    margin: 0;
}

body {
    background-color: #85C1E9;
}

header + .body_container {
}

/* Body top bar styles */
.body_container{
    width: auto;
    padding: 0;
    height: 100%;
}

#left_header_block {
    width: auto;
    display: flex;
    align-items: center;
}

#left_buttons {
    width: 200px;
}

#center_field {
    width: 80%;
}

#right_header_block {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.body_top_bar {
    height: auto;
    padding: 8px 4px 4px 8px;
    display: flex;
    justify-content: space-between;
}

.board_name {
    float: left;
    width: auto;
    border-style: hidden;
}

.body_container_left_button {
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border-color: black;
}

.body_container_right_button {
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border-color: black;
}

.board_name + .body_container_left_button {
    margin-right: 0.2%;
}

/* Board columns */
.board_canvas {
    width: auto;
    padding-top: 0.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;


    flex-wrap: nowrap;
    overflow-x: auto;
}

#columns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5px;
}

.board_column {
    width: 300px;
    height: auto;
    background-color: #eff3c6;
    border-radius: 6px;
    position: relative;
    margin-right: 1%;
    margin-bottom: 2%;
    box-shadow: 1px 1px #e4e4e4;
}

.column_name {
    margin-left: 12px;
    margin-top: 10px;
}

.card_container {
    top: 5px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    height: auto;
    padding-bottom: 10%;
}

.card_type {
    margin-right: 0;
    margin-left: 0;
    margin-top: 2%;
    height: 30px;
    border: 1px hidden;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column_button {
    margin-top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    border-radius: 4px;
}

#add_column_button {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    background-color: #ededed;
}

.card_text {
    margin-left: 1%;
    font-size: smaller;
    overflow: hidden;
}

.card_button {
    width: 25px;
    height: 25px;
    margin-right: 1%;
    border-radius: 4px;
    background-color: gainsboro;
}