*{
    font-family: "Avenir Next", monospace;
    margin: 0;
}



/* Body top bar styles */
.body_container{
    width: auto;
    padding: 0;
    height: 100%;
}

#left_header_block {
    width: auto;
    display: flex;
    align-items: center;
}

#left_buttons {
    width: 200px;
}

#center_field {
    width: 80%;
}

#right_header_block {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.body_top_bar {
    height: auto;
    padding: 8px 4px 4px 8px;
    display: flex;
    justify-content: space-between;
}

.board_name {
    float: left;
    width: auto;
    border-style: hidden;
}

.body_container_left_button {
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border-color: black;
}

.body_container_right_button {
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border-color: black;
}

.board_name + .body_container_left_button {
    margin-right: 0.2%;
}

/*Body*/
body {
    background-color: #85C1E9;
}

/* Board columns */
.board_canvas {
    width: auto;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.board_column {
    width: 250px;
    height: auto;
    background-color: #eff3c6;
    border-radius: 4px;
    position: relative;
    margin-right: 1%;
    margin-bottom: 2%;
    box-shadow: 2px 2px #b6b7e2;

}

.card_container {
    top: 5px;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    padding-bottom: 10%;
}

.card_type {
    margin-right: 0;
    margin-left: 0;
    margin-top: 1%;
    height: 40px;
    border: 1px hidden;
    background-color: white;
    border-radius: 6px;
}

.column_button {
    margin-top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    border-radius: 4px;
}

/*Header styles*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #026aa7;
}
p.search {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.buttons{
    margin: 5px;
}
header img {
    vertical-align: middle;
}
.link_text {
    text-decoration: none;
    color: white;
}
/*НОВЫЕ КЛАССЫ*/
.board_namears {
    font-size: 20px
}